<%- include('header'); -%>


<h1>assessment</h1>

<% outerControls.forEach(function(outerControl){ %>
<table>
  <tr>
    <th><%= outerControl.text %></th>
  </tr>
  <br />
  <tr>
    <% if(outerControl.hasOwnProperty('inner')){ %>
      <% outerControl.inner.forEach(function(innerControl){ %>
          <td><%= innerControl.text %></td>
      <% }) %>
    <% } %>

  </tr>

</table>


<% }) %>





<%- include('footer'); -%>
